<div cdkDropList [cdkDropListData]="cards" (cdkDropListDropped)="drop($event)" [attr.data-taskIndx]="taskIndx" id="taskId{{taskIndx+1}}" [cdkDropListConnectedTo]="connectedList">
    <div class="card" *ngFor="let card of cards;" cdkDrag>
        <div>
            {{ card.name }}
        </div>
        <div>
            <mat-icon aria-hidden="false" title="Edit" (click)="editCard(card)">edit</mat-icon>
            <mat-icon aria-hidden="false" title="Delete" (click)="deleteCard(card)">delete</mat-icon>
        </div>
    </div>
</div>

<a href="javascript:void(0)" (click)="addCard()"> + Add another card</a>