<div class="row">
    <div class="column" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="taskService.taskList" (cdkDropListDropped)="drop($event)">
        <div class="task" *ngFor="let task of taskService.taskList; let indx = index" cdkDrag>
            <div class="cardlist">
                <div class="heading">
                    <div>
                        {{ task.name }}
                    </div>
                    <div>
                        <mat-icon aria-hidden="false" title="Edit" (click)="editTask(task)">edit</mat-icon>
                        <mat-icon aria-hidden="false" title="Delete" (click)="deleteTask(task)">delete</mat-icon>
                    </div>
                </div>
                <app-card [data]="task.cards" [taskIndex]="indx"></app-card>
            </div>
        </div>
    </div>
    <div class="column">
        <a href="javascript:void(0)" (click)="addList()"> + Add another list</a>
    </div>
</div>