/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
:root {
    /* Colors */
    --background-default: #673ab7b0;
    --background-secondary: #673ab742;
    --background-tertiary: #e7ece8;
    --background-light: #ffffff;
    --background-dialog: #ffffff;
    --foreground-hyperlink: #0000ee;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}